@media screen and (min-width: 0px) {
    .avatar-small {
        width: 34px;
        height: 34px;
        margin: 7px 0 7px 0;
    }

    .avatar-medium {
        width: 60px;
        height: 60px;
    }

    .avatar-large {
        width: 80px;
        height: 80px;
    }

    .avatar-circle {
        border-radius: 50%;
    }

    .avatar-square {

    }

    .avatar-left {
        margin-left: 5px;
        float: right;
    }

    .avatar-right {
        margin-right: 5px;
        float: left;
    }

}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 1200px) {

}