@media screen and (min-width: 0px) {
    .avatar-small {
        width: 40px;
        height: 40px;
    }

    .avatar-medium {
        width: 60px;
        height: 60px;
    }

    .avatar-large {
        width: 80px;
        height: 80px;
    }

    .avatar-circle {
        border-radius: 50%;
    }

    .avatar-square {

    }

}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 1200px) {

}