/* UNIVERSAL */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);

html,
body {
    display: grid;
    width: 100vw;
    height: 100vh;
    font-size: 90%;
}

#root{
    display: grid;
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

/* ROOT FONT STYLES */
* {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    color: #333447;
}

a {
    color: black !important;
}

a:hover {
    color: red !important;
    text-decoration: none;
}

a:active {
    color: red !important;
    text-decoration: none;
}
