html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.01rem;
}

h1 {
    font-size: 180%;
    letter-spacing: -0.05rem;
    padding: 1rem 0rem 0.5rem 0rem;
}

h2 {
    font-size: 160%;
    letter-spacing: -0.05rem;
    padding: 0.8rem 0em 0.4rem 0rem;
}

h3 {
    font-size: 140%;
    letter-spacing: -0.05rem;
    padding: 0.6rem 0em 0.3rem 0rem;
}

h4 {
    font-size: 120%;
    letter-spacing: -0.05rem;
    padding: 0.4rem 0rem 0.2rem 0rem;
}

p {
    font-size: 100%;
    line-height: 1.2rem;
    padding: 0.2rem 0rem 0rem 0.4rem;
}

h1, h2 ,h3, h4, p {
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-margin-start: 0 !important;
    -webkit-margin-end: 0 !important;
    font-weight: inherit;
}